<div ng-app="Telemetry">
  <h1>Proactive Support</h1>
  <h2>Credentials</h2>
  <div class="row" ng-controller="CredentialsCtrl" ng-cloak>
	<div ng-if="creds.stored" class="col-md-12">
	  <div class="alert alert-success">Yay credentials stored</div>
	  <label class="col-md-2 control-label" for="username">Username</label>
	  <div class="col-md-10">
		<input disabled="disabled" class="form-control" id="username" type="text" ng-model="creds.username" />
		<span class="help-block"></span>
	  </div>
	  <div class="form-group">
		<div class="col-md-10"></div>
		<div class="col-md-2">
		  <button class="btn pull-right" ng-click="clear_store()">Remove Credentials</button>
		</div>
	  </div>
	</div>
	<div ng-if="!creds.stored" class="col-md-12">
	  <div class="alert alert-danger">Credentials missing for Proactive Support uploader</div>
	  <div class="form-group">
		<label class="col-md-2 control-label" for="username">Username</label>
		<div class="col-md-10">
		  <input class="form-control" id="username" type="text" ng-model="creds.username">
		  <span class="help-block"></span>
		</div>
	  </div>
	  <div class="form-group">
		<label class="col-md-2 control-label" for="password">Password</label>
		<div class="col-md-10">
		  <input class="form-control" id="password" type="password" ng-model="creds.password" />
		  <span class="help-block"></span>
		</div>
	  </div>
	  <div class="form-group">
		<div class="col-md-10"></div>
		<div class="col-md-2">
		  <button class="btn pull-right" ng-click="create()">Submit</button>
		</div>
	  </div>
	</div>
  </div>
</div>

<%= javascript_include_tag 'proactive_support/application' %>
