<div ng-app="RedhatAccess">
<div class='container col-lg-12  ' ui-view="searchForm"></div>
<div class="row " ui-view="searchResultPane"></div>


<%= javascript_include_tag 'redhat_access/redhat_access' %>
