<!-- % title _("Red Hat Access: Search") %-->
<div ng-app="RedhatAccess">
 <div ui-view></div>
</div>
<%= stylesheet_link_tag 'redhat_access/redhat_access'%>
<%= javascript_include_tag 'redhat_access/redhat_access' %>
