
<% new_rules.each do |rule| %>
    <tr>
      <th style='text-align:left'>
        <a href="<%=@server_url%>/rules/<%= rule[:rule_id] %>"><%= rule[:description]%></a>
      </th>
    </tr>
    <tr>
      <td style='text-align:left'><span style="font-size: 12px"><%= rule[:summary]%></span></td>
    </tr>
<% end %>
