:strata_host : access.redhat.com
:proxy_host :
:proxy_port :
:proxy_user :
:proxy_password :
:attachment_max_http_size : 250000000
:attachment_ftp_host : dropbox.redhat.com
:attachment_ftp_dir : /incoming
:deployment : satellite

:enable_telemetry_basic_auth : false
:telemetry_upload_host : cert-api.access.redhat.com
:telemetry_api_host : cert-api.access.redhat.com
:telemetry_ssl_verify_peer : true

:diagnostic_logs :
  - /var/log/foreman/production.log
  - /var/log/foreman/delayed_job.log
  - /var/log/foreman/jobs-startup.log
