<% title _("Redhat Access: Search") %>
<div class='container col-lg-12 well '>
  <div id="logged-in">
  </div>
  
</div>
<div class="row " >
  <div class="col-lg-4">
    <form role="form" id= "rh-search">
    <div class="input-group" >
      <input type="text" class="form-control" id="rhSearchStr" name="searchString" class="input-xxlarge" placeholder="Search Articles and Solutions">
      <span class="input-group-btn">
        <button class="btn btn-default" type="submit">Search</button>
      </span>
    </div>
  </form>
    <div class="panel panel-default">
      <!--div class="panel-heading">Suggested solutions</div-->
      <div id='solutions' class="panel-body list-group">
      </div>
    </div>
  </div>
  <div class="col-lg-8 panel-group" id='solution'>
    <!--div class="panel panel-default">
      <!--div class="panel-heading">Solution Detail</div>
      <div id='solution' class="panel-body">
      </div>
    </div-->
  </div>
</div>
<%= javascript_include_tag 'strata/Uri.js' %>
<!--%= javascript_include_tag 'strata/require.js' %-->
<%= javascript_include_tag 'strata/strata.js' %>
<%= javascript_include_tag 'redhat_access/articles.js' %>

