<div class="section">
    <section>
        <h3>
           General Information
        </h3>
        <p>
          For an overview of the Red Hat Insights service, please refer to the <a href="https://access.redhat.com/insights/info/" target="_blank">general information page</a>.
        </p>
        <h3>
           Getting Started
        </h3>
        <p>
          For help with configuring and enabling the Red Hat Insights service in Satellite 6, please refer to the <a href="https://access.redhat.com/insights/getting-started/satellite/6/" target="_blank">Getting Started Guide</a>.
        </p>
    </section>
</div>
