.insights-main-content .alert {
	font-weight: 500;
	padding: 7px;
	font-size: 12px;
}

.insights-main-content .alert.alert-danger {
	background: #FFF;
	color: #C00;
}

.alert-dismissable .close {
	right: auto;
	top: auto;
}

.insights-main-content .legend {
	margin-left: 0px;
	width : auto;
	height :auto;
}


/* .insights .page-title, .insights-main-content .page-title {
	font-weight: 300;
	font-size: 24px;
	margin-top: 20px;
	margin-bottom: 10px;
	display: block;
	font-family: inherit;
    line-height: 1.1;
    color: inherit;
} */

.insights-main-content {
	padding-top: 0;
}