<div class="row form-group">
  <h1><%= 'Red Hat Access Insights' %></h1>
</div>
<div ng-app="RedhatAccessInsights">
  <div ui-view="" class="wrapper ng-cloak"></div>
</div>
<%= javascript_include_tag 'insights/application' %>
<%= stylesheet_link_tag "insights/application" %>
