<div id="welcome">
  <p>
    <%= _("Red Hat Insights is not enabled for your organization.") %>
  </p>
  <p>
    <%= _("Enable this functionality using the functionality here").html_safe %>
  </p>
</div>
