<div class="section">
    <section>
        <h3>
           <i ng-class="severityClass" class="fa i-error fa-times-circle"></i>
           Error communicating with Red Hat Access Insights Service
        </h3>
        <p></p>
        <p>
           Unable to communicate with the Insights service. Please verify that you hava a valid subscription manifest in your organization and that your Satellite server is configured to allow HTTPS communications to <i>cert-api.redhat.access.com</i>.
        </p>
       
    </section>
</div>
